<h1 class="main_common-h1"><%= title %></h1>
<%- notices() %>
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
   </ul>
<% } %> 
<div class="add_paddin_bottom">
  
 <div class="main_common-h2"  >Welcome <%= authorizedData.name %></div> 
 
 <% if (authorizedData.isAdmin) { %>

  <h2 class="main_common-h2 margin_top_30px" >Inventory Management</h2>
  <a href="/inv" class="submit_boton_global management_href">Management page</a>
 <% } %>

  <% if (loggedin) { %>
    <p><%= "You're logged in." %></p>
    <a href="/account/update" class="submit_boton_global management_href ">Update your user data.</a>
  <% } %>

</div>