<% if (title) { %>
  <h1 class="global_h1_title">
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>


  <div id="add-vehicle-view">
    <%# messages() %>

      <% if (errors) { %>
        <ul class="notice">
          <% errors.array().forEach(error=> { %>
            <li>
              <%= error.msg %>
            </li>
            <% }) %>
        </ul>
        <% } %>

        <form class="login_form" action="/inv/add-inventory" method="post">
          <fieldset>
            <label class="login_form_input" id="classification-label">Classification* <%- classificationList %></label>                
            <label class="login_form_input">Make* <input type="text" name="inv_make"    required id="inv_make" value="<%= locals.inv_make %>"></label>
            <label class="login_form_input">Model* <input type="text" name="inv_model"  required id="inv_model" value="<%= locals.inv_model %>"></label>   
            <label class="login_form_input">Description* <textarea name="inv_description" id="inv_description" rows="4" cols="44"><%= locals.inv_model %></textarea></label>                                      
            <label class="login_form_input">Image Path* 
              <input type="text" name="inv_image" required id="inv_image" value="/images/vehicles/no-image.png">
            </label>
            <label class="login_form_input">Thumbnail Path* <input type="text" name="inv_thumbnail" required id="inv_thumbnail" value="/images/vehicles/no-image.png"></label>           
            <label class="login_form_input">Price*<input type="number" name="inv_price" required id="inv_price" MIN ="0" value="<%= locals.inv_price %>" ></label>  
            <label class="login_form_input">Year* <input type="number" name="inv_year"  required id="inv_year"  MIN="1000" value="<%= locals.inv_year %>"></label>   
            <label class="login_form_input">Miles* <input type="number" name="inv_miles"  required id="inv_miles" MIN="0" value="<%= locals.inv_miles %>"></label>   
            <label class="login_form_input">Color* <input type="text" name="inv_color"
                required id="inv_color" value="<%= locals.inv_color %>"></label>                       
        
            <input type="submit" value="Add Vehicle" class="submit_boton_global">
          </fieldset>
        </form>

        </div>